<div class="row">
	<%= render partial: 'shared/user', locals: { home: true } %>
	<div class="col-md-8">
		<%= render 'users/follow_form' if signed_in? %>
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>
