<aside class="col-md-4">
	<section>
		<%= render partial:'shared/user_info',
			locals: { profile: defined?(profile).nil? } %>
	</section>
	<section>
		<%= render 'shared/stats' %>		
	</section>
	<% if (defined?(home).nil?) && !(defined?(@users).nil?) && @users.any? %>
	<section>
		<div class="user_avatars">
			<% @users.each do | user | %>
				<%= link_to gravatar_for(user, size: 30), user %>
			<% end %>
		</div>
	</section>
	<% elsif defined?(profile).nil? %>
	<section>
		<%= render 'shared/micropost_form' %>
	</section>
	<% end %>

</aside>
